*{
    font-weight: bold;
}
body{
    font-size: 18px;
    text-align: center;
    border: 2px dotted black;
}
h1{
    background-color: red;
    color: pink;
}
article>p{
    color: black;
}
#first, #second{
    color: red;
}
.orange{
    color: orange;
}
p:hover{
    color: orange;
}

/* 
vw - view width - works absolute - works acc. to width of browser screen
% - works relative to parent
px - works absolute - will be visible same in all sizes
em - relative to parent - also relative to font size defined in browser
rem - relative to root(html tag)

use rem with font-size
never use absolute size in font size
1 rem = 16px;

*/

*{
    /* padding: 0; */
    margin: 0;
    box-sizing: border-box; 
    /* this will not include padding and borders to the width and height of every element */
}

.box-model{
    width: 200px;
    height: 200px;
    border: 20px solid red;
    border-radius: 5px;
    padding: 10px 20px;
    margin: 10px 5px 10px 5px;
    /* top right bottom left */
}

ul{
    font-size: 2rem;
    background-color: black;
    color: wheat;
    text-align: end;
    /* padding: 10px; */
}
li{
    display: inline-block;
    padding: 10px;
    cursor: pointer;
}

li:hover{
    color: blueviolet;

}

/* ul,li,p,div, h1 - are block level element, they take whole width of html
to make them come in one line we have to use display: inline or display: inline-block */

/* span, a - are inline elements - they don't take width,height
to make them come in next line we have to use display: block
inline elements - only take horizontal space(padding, margin), not take vertical space
*/

/* img - is inline-block element - they take width,height
inline-block elements - take both horizontal space(padding, margin) and verticle space */


.container{
    width: 500px;
    height: 800px;
    margin: 100px;
    color: white;
    background-color: burlywood;
}
.blue{
    width: 100px;
    height: 100px;
    background-color: blue;
    position: relative; 
    /* this is relative to its parent */
    top: 100px;
    left: 100px;
}
.green{
    width: 100px;
    height: 100px;
    background-color: green;
    position: absolute;
    /* absolute is dependent to its nearby relative parent, if relative parent not found then root */
    top: 500px;
    left: 500px;
}
.red{
    width: 100px;
    height: 100px;
    background-color: red;
    position: fixed;
    /* it will fix the element, no effect on scroll */
    top: 0;
    left: 0;
}
.purple{
    width: 100px;
    height: 100px;
    background-color: purple;
    position: sticky;
    /* it will fix the element till the height of its parent is on screen */
    top: 20px;
}
.scroll{
    height: 70vh;
}

/* Without position: relative, the top property won't have any effect, 
and the paragraph will remain in its default position */

/* When an element has a fixed position, it is taken out of the normal 
flow of the document and positioned relative to the browser window. 
This means that other elements will not be aware of its presence and will not be affected by it.

In the given HTML and CSS code, the nav element has a fixed position, 
so it is displayed at the top of the viewport. The paragraph inside the main element 
is not aware of the nav element's position and behaves as if the nav element is not there. 
That's why the paragraph appears below the div that contains the nav element. */

/* position property is static bydefault */


/* overflow - by default visible
scroll - x, y scroller
auto - scroll where required */

/* float - left, right, none, inhert */
/* clear - it clears float from left, right and both */
/* only use clear and float for img, text */
/* if one is given float then other element will find space after it */


/* margin: 0 auto; - vertically 0 and horizontally in center of parent */
/* position: relative, top: 50%, tranform: translateY(-50%) */

/* margin-inline: auto - give margin from left and right */
/* margin-block: 10px - give from top and bottom */

/* background-size: 10px, background-repeat: no-repeat - by-default it is repeating */
/* background-postition: center; */

/* in order to center a div make a outer div first and make it have full width
and height and them center div using above properties */

/* .signup-header h1: This selector targets any <h1> element that is a descendant 
of an element with the class "signup-header". It will select all <h1> elements 
inside the "signup-header" class, regardless of their direct parent-child relationship.

.signup-header > h1: This selector targets only the <h1> elements that are an 
immediate child of an element with the class "signup-header". 
It will select <h1> elements that are directly nested within the "signup-header" class. */

/* background: linear-gradient(to top left, #ffffffff, #ffffff33)
to top left is the direction of the gradient. It means that the gradient will start from the bottom 
right corner and gradually transition towards the top left corner.

#ffffffff: This is a hexadecimal color value #ffffffff, 
which represents the color white with full opacity (fully opaque). It is the starting color of the gradient.

#ffffff33: This is a hexadecimal color value #ffffff33, which represents the color 
white with an alpha value of 0.33. The alpha value defines the transparency of the color, 
where 1.0 is fully opaque and 0.0 is fully transparent. In this case, 
the alpha value 0.33 makes the color slightly transparent. It is the ending color of the gradient. */

/* 
The CSS backdrop-filter property allows you to apply graphical effects to the area behind an element, 
including blurring, color shifting, and more. In this case, the backdrop-filter 
property is set to blur(8px), which applies a blur effect to the backdrop. */


/* for making flex box we need parent div.
we use display:flex to make a div flex box */
/* in flex-box = we have main-axis (horizontally) and cross-axis (vertically) */
/* display: flex = by-default - horizontal that is flex-direction: row */

/* to make flex-box vertically flexed we use flex-direction: column */

/* we have main-container and child-container in flex
properties for main container are:-
1. flex-direction:row-reverse, column-reverse, row, column
2. flex-wrap: wrap, wrap-reverse - it wraps if screen becomes small
3. gap:10px - it only give gap b/w childeren not b/w child & parent
4. row-gap: 10px - gap only b/w rows
5. column-gap: 10px
6. flex-flow: wrap row - it is combination of flex-wrap & flex-direction
7. we use justify-content to align the items on main axis(horizontally)
        justify-content: space-around - it distribute remaining space b/w children
        justify-content:space-between - only distribute b/w children not child to parent
        justify-content:space-evenly - it will have evenly space
        justify-content:flex-start - all move to start(it is by-default)
        justify-content:flex-end - all move to end
        justify-content: center - move to center
8. we use align-items to align items on cross-axis(vertically)
        align-item: stretch - it stretches vertically to take whole space(by-default)
        align-item: center - aligns to center vertically
        align-item: flex-start, flex-end
9. we use align-content for distance b/w two rows
        align-content: flex-start - start from above
        align-content: space-between, space-evenly

properties for child container are:-
1. order: 2 - it means that particular child will less order and move to :end
2. flex-grow: 1 - that particular child will grow and take more space(by-default-0)
3. flex-shrink: 2 - that particular child will shrink more(by-default-1)
4. flex-basis: 400px - that particular child will have width by default more than others
5. flex: 0 0 400px - combination of flex-grow,  flex-shrink and flex-basis
6. align-self: flex-start, stretch - align itself irrrespective of other children */


.main-container{
    display: flex;
    flex-direction:row;
    border: 2px solid black;
    height: 50vh;
    justify-content: space-evenly;
    flex-wrap: wrap;
    align-items:stretch;
    align-content: stretch;
}
.box1{
    border: 2px solid black;
    width: 160px;
    flex-basis: 300px;
    align-self:flex-start;
}
.box2{
    border: 2px solid black;
    width: 160px;
    flex-grow: 1;
}
.box3{
    border: 2px solid black;
    width: 160px;
}
.box4{
    border: 2px solid black;
    width: 160px;
}
.box5{
    border: 2px solid black;
    width: 160px;
}
.box6{
    border: 2px solid black;
    width: 160px;
}


/* ways for making variables in css

:root {
    --primary-text-color: #183b56;
    --secondary-text-color: #577592;
}

body {
    color: var(--primary-text-color);
} */


/* transition: 0.2s ease-out */
/* box-shadow: 0 0 2px #abds90 - x direction y direction blur */

/* .box:nth-child(2) = apply css for 3rd child */


.top-div{
    width: 500px;
    height: 500px;
    background-color: red;
    position: relative;
}
.child-div{
    position: absolute;
    bottom:20px;
}

